.card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
    max-width: 420px;
    width: 100%;
  }
  .form-control:focus {
    box-shadow: 0 0 0 3px rgba(26, 35, 126, 0.1);
    border-color: #1a237e;
  }
  .btn-primary {
    background-color: white;
    color: #04AA6D;
    border: 2px solid #04AA6D;
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .btn-primary:hover {
    background-color: #04AA6D;
    color: white;
}