.stat-bar {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.stat-value {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1;
}

.stat-label {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  opacity: 0.9;
  line-height: 1;
}


.bg-pending {
  background: linear-gradient(to right, #F9B56B, #E59431) !important;
}

.bg-ongoing {
  background: linear-gradient(to right, #62cff4 , #2c67f2) !important;
}

.bg-completed {
  background: linear-gradient(to right, #48bc84, #d0e496) !important;
}

.bg-delayed {
  background: linear-gradient(to right, #b80000, #ff5e5e) !important;
}

.bg-cancelled {
  background: linear-gradient(to right, #000000, #444444) !important;
}
