{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
<div aria-live="polite" aria-atomic="true" style="position: fixed; bottom: 1rem; right: 1rem; z-index: 1050;">
  {% for message in messages %}
  <div class="toast fade" data-delay="8000" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success text-white">
      <strong class="mr-auto">Success</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('.toast').toast('show');
  });
</script>
{% endif %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-sm mb-0">
      <li class="breadcrumb-item">Project Monitoring System</li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
</div>

  <div class="alert alert-success" role="alert">
  Welcome to Dashboard! Kindly check table for status updates.
</div>

<table id="poTable" class="row-border hover" style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th>P.O #</th>
      <th>P.O RECEIVED</th>
      <th>DATE STARTED</th>
      <th>TARGET DATE</th>
      <th>COMPLETION DATE</th>
      <th>STATUS</th>
      <th></th> <!-- Hidden ID -->
    </tr>
    <tr class="filter-row">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for po in purchase_orders %}
    <tr>
      <td>
        <!-- View Button -->
        <button 
          class="btn btn-sm view-button"
          onclick="showPurchaseOrderDetails(
            '{{ po.id|escapejs }}',
            '{{ po.date_recorded|escapejs }}',
            '{{ po.purchase_order|escapejs }}',
            '{{ po.customer_branch.customer_name|escapejs }}',
            '{{ po.customer_branch.branch_name|escapejs }}',
            '{{ po.purchase_order_received|escapejs }}',
            '{{ po.target_date|escapejs }}',
            '{{ po.classification|escapejs }}',
            '{{ po.description|escapejs }}',
            '{{ po.service_report_number|escapejs }}',
            '{{ po.total_days|escapejs }}',
            '{{ po.manpower_total|escapejs }}',
            '{{ po.manpower.all|join:", "|escapejs }}',
            '{{ po.time_total|escapejs }}',
            '{{ po.total_work_hour|escapejs }}',
            '{{ po.date_started|escapejs }}',
            '{{ po.completion_date|escapejs }}',
            '{{ po.coc_number|escapejs }}',
            '{{ po.dr_number|escapejs }}',
            '{{ po.invoice_number|escapejs }}',
            '{{ po.remarks|escapejs }}',
            '{{ po.status|escapejs }}'
          )"
        >
          View
        </button>

        <a href="{% url 'edit' username=request.user.username pk=po.id %}" class="btn btn-sm edit-button">Edit</a>


      </td>

      <td>
        {% if po.status == "Delayed" %}
          <span class="text-danger">{{ po.purchase_order }}</span>
          <text class="text-danger ms-1">
            ({{ po.target_date_delayed }} day{{ po.target_date_delayed|pluralize }})
          </text>
        {% else %}
          {{ po.purchase_order }}
        {% endif %}
      </td>

      <td>{{ po.purchase_order_received }}</td>
      <td>{{ po.date_started }}</td>
      <td>{{ po.target_date }}</td>
      <td>{{ po.completion_date }}</td>
      <td>
        {% if po.status == "Pending" %}
          <span class="status pending">Pending</span>
        {% elif po.status == "Ongoing" %}
          <span class="status ongoing">Ongoing</span>
        {% elif po.status == "Completed" %}
          <span class="status completed">Completed</span>
        {% elif po.status == "Cancelled" %}
          <span class="status cancelled">Cancelled</span>
        {% else %}
          <span class="status delayed">Delayed</span>
        {% endif %}
      </td>

      <td>{{ po.id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'dashboard_modal.html' %}



<script src="{% static 'js/dashboard.js' %}"></script>


{% endblock %}
