{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

{% include "toast_messages.html" %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-sm mb-0">
      <li class="breadcrumb-item">Project Monitoring System</li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
</div>

  <div class="alert alert-success" role="alert">
  Welcome to Dashboard! Kindly check table for status updates.
</div>

<table id="poTable" class="row-border hover" style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th>P.O #</th>
      <th>P.O RECEIVED</th>
      <th>DATE STARTED</th>
      <th>TARGET DATE</th>
      <th>COMPLETION DATE</th>
      <th>STATUS</th>
      <th></th> <!-- Hidden ID -->
    </tr>
    <tr class="filter-row">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for po in purchase_orders %}
    <tr>
      <td>
        <!-- View Button -->
        <button class="btn btn-sm view-button"
          onclick="handleModalClick(this)"
          data-id="{{ po.id }}"
          data-date-recorded="{{ po.date_recorded }}"
          data-po="{{ po.purchase_order }}"
          data-customer="{{ po.customer_branch.customer_name }}"
          data-branch="{{ po.customer_branch.branch_name }}"
          data-date-received="{{ po.purchase_order_received }}"
          data-target-date="{{ po.target_date }}"
          data-classification="{{ po.classification }}"
          data-description="{{ po.description }}"
          data-service-report-number="{{ po.service_report_number }}"
          data-manpower-total="{{ po.manpower_total }}"
          data-manpower-str="{{ po.manpower.all|join:", " }}"
          data-total-days="{{ po.total_days }}"
          data-time-total="{{ po.time_total }}"
          data-total-wh="{{ po.total_work_hour }}"
          data-date-started="{{ po.date_started }}"
          data-completion-date="{{ po.completion_date }}"
          data-coc-number="{{ po.coc_number }}"
          data-dr-number="{{ po.dr_number }}"
          data-invoice-number="{{ po.invoice_number }}"
          data-remarks="{{ po.remarks }}"
          data-status="{{ po.status }}"
          data-target-date-delayed="{{ po.target_date_delayed }}"
        >
          View
        </button>


        <a href="{% url 'edit' username=request.user.username pk=po.id %}" class="btn btn-sm edit-button">Edit</a>


      </td>

      <td>
        {% if po.status == "Delayed" %}
          <span class="text-danger">{{ po.purchase_order }}</span>
        {% else %}
          {{ po.purchase_order }}
        {% endif %}
      </td>

      <td>{{ po.purchase_order_received }}</td>
      <td>{{ po.date_started }}</td>
      <td>{{ po.target_date }}</td>
      <td>{{ po.completion_date }}</td>
      <td>
        {% if po.status == "Pending" %}
          <span class="status pending">Pending</span>
        {% elif po.status == "Ongoing" %}
          <span class="status ongoing">Ongoing</span>
        {% elif po.status == "Completed" %}
          <span class="status completed">Completed</span>
        {% elif po.status == "Cancelled" %}
          <span class="status cancelled">Cancelled</span>
        {% else %}
          <span class="status delayed">Delayed</span>
        {% endif %}
      </td>

      <td>{{ po.id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'dashboard_modal.html' %}



<script src="{% static 'js/dashboard.js' %}"></script>


{% endblock %}
