{% extends "base.html" %}

{% load static %}
{% block title %}Manpower Details List{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboard_manpower.css' %}">
{% endblock %}

{% block content %}

{% include "toast_messages.html" %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Manpower</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-sm mb-0">
      <li class="breadcrumb-item">P.O Monitoring System</li>
      <li class="breadcrumb-item active" aria-current="page">Manpower</li>
      <li class="breadcrumb-item active" aria-current="page">Manpower List</li>
      </ol>
    </nav>
</div>

{% include "tabs.html" %} </br>

  <div class="alert alert-warning" role="alert">
  View and delete manpower details here!
</div>



  <table id="manpowerTable" class="row-border hover" style="width:100%">
    <thead>
      <tr>
        <th>ACTIONS</th>
        <th>MANPOWER NAME</th>
        <th>CATEGORY</th>
      </tr>
    </thead>
    <tbody>
      {% for manpower in manpower_details %}
      <tr>
        <td>
          <form method="post" action="{% url 'delete_manpower' username=request.user.username pk=manpower.pk %}" 
          style="display:inline;" 
          onsubmit="return confirmDelete('Are you sure you want to cancel this Manpower?\n\n{{ manpower.name }}\n\nWarning: This action is irreversible and cannot be undone.')">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm delete-button"><i data-feather="trash-2"></i> Delete</button>
        </form>
        </td>
        <td>{{ manpower.name }}</td>
        <td>{{ manpower.category }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    {% include "confirm_page.html" %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new DataTable('#manpowerTable', {
      searching: false,
      ordering: false,
    });
  });
</script>

 


{% endblock %}
