{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/stats.css' %}">
{% endblock %}

{% block content %}

{% include "toast_messages.html" %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="d-flex align-items-center gap-2">
      {% comment %} <img src="{% static 'img/mlogo.png' %}" alt="Logo" style="height: 32px; width: 32px; object-fit: contain; margin-right: 0.5rem;"> {% endcomment %}
      <h1 class="h3 mb-0">Mabuhay Power & Diesel Generator Services Co. Ltd</h1>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-sm mb-0">
      <li class="breadcrumb-item">P.O Monitoring System</li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  </div>

  {% comment %} <div class="alert alert-success alert-dismissible fade show" role="alert">
  Welcome to Dashboard! Kindly check and manage table for status updates.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-primary alert-dismissible fade show" role="alert">
  Note: A blue Target Date indicates it has been adjusted.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> {% endcomment %}



  {% include "tabs.html" %}

</br>

   {% include "stats.html" %}

</br>

<table id="poTable" class="row-border hover" style="width:100%">
  <thead>
    <tr>
      <th>P.O #</th>
      <th>CUSTOMER</th>
      <th>STARTED DATE</th>
      <th>TARGET DATE</th>
      <th>COMPLETION DATE</th>
      <th>STATUS</th>
      <th>ACTIONS</th>
      <th></th> <!-- Hidden ID -->
    </tr>
    <tr class="filter-row">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for po in purchase_orders %}
    <tr>
      <td>
          {{ po.purchase_order }}
      </td>

      <td>{{ po.customer_branch.customer_name }}</td>   
      <td>{{ po.date_started }}</td>
      <td>
       {% if po.target_date_status == "adjusted" %}
        <span class="text-primary">{{ po.target_date }}</span>

      {% else %}
        {{ po.target_date }}
      {% endif %}
      </td>



      <td>{{ po.completion_date }}</td>
      <td>
        {% if po.status == "Pending" %}
          <span class="status pending">Pending</span>
        {% elif po.status == "Ongoing" %}
          <span class="status ongoing">Ongoing</span>
        {% elif po.status == "Completed" %}
          <span class="status completed">Completed</span>
        {% elif po.status == "Cancelled" %}
          <span class="status cancelled">Cancelled</span>
        {% else %}
          <span class="status delayed">Delayed</span>
        {% endif %}
      </td>

       <td>
        <!-- View Button -->
        <button class="btn btn-sm view-button"
          onclick="handleModalClick(this)"
          data-id="{{ po.id }}"
          data-date-recorded="{{ po.date_recorded }}"
          data-po="{{ po.purchase_order }}"
          data-customer="{{ po.customer_branch.customer_name }}"
          data-branch="{{ po.customer_branch.branch_name }}"
          data-date-received="{{ po.purchase_order_received }}"
          data-target-date="{{ po.target_date }}"
          data-classification="{{ po.classification }}"
          data-description="{{ po.description }}"
          data-service-report-number="{{ po.service_report_number|default:'None' }}"
          data-manpower-total="{{ po.manpower_total }}"
          data-manpower-type="{{ po.get_manpower_type_display|default_if_none:'No manpower assigned' }}"
          data-total-days="{{ po.total_days }}"
          data-working-days-total="{{ po.working_days_total }}"
          data-work-hours-total="{{ po.work_hours_total }}"
          data-date-started="{{ po.date_started|default:'None' }}"
          data-completion-date="{{ po.completion_date|default:'None' }}"
          data-coc-number="{{ po.coc_number|default:'None' }}"
          data-dr-number="{{ po.dr_number|default:'None' }}"
          data-invoice-number="{{ po.invoice_number|default:'None' }}"
          data-remarks="{{ po.remarks|default:'None' }}"
          data-status="{{ po.status }}"
          data-target-date-delayed="{{ po.target_date_delayed }}"
          data-target-date-status="{{ po.target_date_status }}"
        >
          View
        </button>


        <a href="{% url 'edit' username=request.user.username pk=po.id %}" class="btn btn-sm update-button">Update</a>
        <a href="{% url 'itinenary' username=request.user.username pk=po.id %}" class="btn btn-sm itinenary-button">Itinenary</a> 
        {% if po.status != "Cancelled" %}
          <form method="post"
              action="{% url 'cancel' username=request.user.username pk=po.pk %}"
              style="display:inline;"
              onsubmit="return confirmDelete('Are you sure you want to cancel this Purchase Order?\n\nP.O: {{ po.purchase_order }}\n\nWarning: This action is irreversible and cannot be undone.')">
          {% csrf_token %}
          <input type="hidden" name="status" value="Cancelled">
          <button type="submit" class="btn btn-sm cancel-button">Cancel</button>
        </form>

        {% endif %}
      </td>
      <td>{{ po.id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'dashboard_modal.html' %}
{% include "confirm_page.html" %}


<script src="{% static 'js/dashboard.js' %}"></script>


{% endblock %}
