{% extends "base.html" %}

{% load static %}
{% block title %}Update Purchase Order{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock %}

{% block content %}

{% include "toast_messages.html" %}

<form method="post">
  {% csrf_token %}

<div class="sticky-wrapper">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
    
     <div class="d-flex align-items-center">
      <h1 class="h2 mb-0" style="margin-right: 20px;">P.O#: {{ po.purchase_order }}</h1>

     {% if po.status == "Pending" %}
      <span class="badge badge-warning large-badge">Status: {{ po.status }}</span>
    {% elif po.status == "Ongoing" %}
      <span class="badge badge-primary large-badge">Status: {{ po.status }}</span>
    {% elif po.status == "Completed" %}
      <span class="badge badge-success large-badge">Status: {{ po.status }}</span>
    {% elif po.status == "Cancelled" %}
      <span class="badge badge-dark large-badge">Status: {{ po.status }}</span>
    {% else %}
      <span class="badge badge-danger large-badge">Status: {{ po.status }}</span>
    {% endif %}
    </div>

    <button type="submit" class="btn add-button mt-1">Save</button>

  </div>
</div>



<div style="height: 1rem;"></div>

<div class="alert alert-warning" role="alert">
  Update details here to update reflected statuses!
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard' username=request.user.username %}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Update P.O</a>
  </li>
</ul>

<div class="mt-3 px-4">
  <div class="card shadow rounded w-100" style="border: none;">
    <div class="card-header add-card-header">
      <h5 class="mb-0">Update Purchase Order</h5>
    </div>
    <div class="card-body">
        
      </br>
        <!-- Row 1 -->
        <div class="formbold-input-flex-4" style="flex-wrap: nowrap;">
          <div style="width: 25%;">
            <label for="{{ form.purchase_order.id_for_label }}" class="formbold-form-label">
              {{ form.purchase_order.label }}
            </label>

            {{ form.purchase_order }}

            {% for error in form.purchase_order.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>

          <div style="width: 75%;">
            <label for="{{ form.customer_branch.id_for_label }}" class="formbold-form-label">
                {{ form.customer_branch.label }}
              </label>
              {{ form.customer_branch }}
              {{ form.customer_branch.errors }}
          </div>
        </div>

        <!-- Row 2 -->
        <div class="formbold-input-flex-4" style="flex-wrap: nowrap;">
          <div style="width: 25%;">
            <label for="{{ form.classification.id_for_label }}" class="formbold-form-label">
                {{ form.classification.label }}
              </label>
              {{ form.classification }}
              {{ form.classification.errors }}
          </div>
          <div style="width: 75%;">
            <label for="{{ form.description.id_for_label }}" class="formbold-form-label">
                {{ form.description.label }}
              </label>
              {{ form.description }}
              {{ form.description.errors }}
          </div>
        </div>


      <!-- Row 3 -->
      <div class="formbold-input-flex-4">
        <div class="mb-3">
          <label for="{{ form.purchase_order_received.id_for_label }}" class="formbold-form-label">
                {{ form.purchase_order_received.label }}
              </label>
              {{ form.purchase_order_received }}
              {{ form.purchase_order_received.errors }}
        </div>

        <div>
           <label for="{{ form.target_date.id_for_label }}" class="formbold-form-label">
                {{ form.target_date.label }}
              </label>
              {{ form.target_date }}
              {{ form.target_date.errors }}
        </div>

        <div>
          <label for="{{ form.service_report_number.id_for_label }}" class="formbold-form-label">
            {{ form.service_report_number.label }}
          </label>
          {{ form.service_report_number }}
          {{ form.service_report_number.errors }}
        </div>

        <div>
          <label for="{{ form.dr_number.id_for_label }}" class="formbold-form-label">
            {{ form.dr_number.label }}
          </label>
          {{ form.dr_number }}
          {{ form.dr_number.errors }}
        </div>
      </div>


        <!-- Row 4 -->
      <div class="formbold-input-flex-4" style="flex-wrap: nowrap;">
        <div>
          <label for="{{ form.date_started.id_for_label }}" class="formbold-form-label">
                {{ form.date_started.label }}
              </label>
              {{ form.date_started }}
              {{ form.date_started.errors }}
        </div>

        <div>
          <label for="{{ form.completion_date.id_for_label }}" class="formbold-form-label">
                {{ form.completion_date.label }}
              </label>
              {{ form.completion_date }}
              {{ form.completion_date.errors }}
        </div>

        <div>
          <label for="{{ form.invoice_number.id_for_label }}" class="formbold-form-label">
            {{ form.invoice_number.label }}
          </label>
          {{ form.invoice_number }}
          {{ form.invoice_number.errors }}
        </div>

        <div>
          <label for="{{ form.coc_number.id_for_label }}" class="formbold-form-label">
            {{ form.coc_number.label }}
          </label>
          {{ form.coc_number }}
          {{ form.coc_number.errors }}
        </div>
      </div>


        <!-- Row 4 -->
        <div class="formbold-input-flex-4" style="flex-wrap: nowrap;">
          <div style="width: 100%;">
            <label for="{{ form.remarks.id_for_label }}" class="formbold-form-label">
                {{ form.remarks.label }}
              </label>
              {{ form.remarks }}
              {{ form.remarks.errors }}
          </div>
        </div>

        <button type="submit" class="btn add-button mt-3">Save</button>
    
      </form>
    </div>
  </div>
</div>




{% endblock %}
